<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.michaelvescovo.android.moviehotness"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission-sdk-23 android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:authorities="com.michaelvescovo.android.moviehotness"
            android:name="com.michaelvescovo.android.moviehotness.data.MovieHotnessProvider"
            android:enabled="true"
            android:exported="false"/>

        <activity android:name="com.michaelvescovo.android.moviehotness.view_movies.ViewMoviesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.michaelvescovo.android.moviehotness.view_movie_details.ViewMovieDetailsActivity"
            android:label=""
            android:parentActivityName="com.michaelvescovo.android.moviehotness.view_movies.ViewMoviesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.michaelvescovo.android.moviehotness.view_movies.ViewMoviesActivity"/>
        </activity>

        <activity android:name="com.michaelvescovo.android.moviehotness.view_full_plot.ViewFullPlotActivity">
        </activity>

        <activity android:name="com.michaelvescovo.android.moviehotness.view_attribution.AttributionActivity">
        </activity>

        <activity android:name="com.michaelvescovo.android.moviehotness.view_all_trailers.ViewAllTrailersActivity">
        </activity>

        <activity android:name="com.michaelvescovo.android.moviehotness.view_all_reviews.ViewAllReviewsActivity">
        </activity>

        <activity android:name="com.michaelvescovo.android.moviehotness.view_full_review.ViewFullReviewActivity">
        </activity>

    </application>

</manifest>
